.row button{
    padding : 100px;
    width: 100px;
    height: 100px;
    font-size: 16px;

}
.restart{
    padding : 10px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.everything{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player1{
    margin-right: auto;
    margin-left: auto;
}
.player2{
    margin-left: auto;
    margin-right: auto;
}